*{
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #eee;
}
.container{
	margin: 30px;
}
.container-el .container-select{
	display: flex;
	width: 100%;
}

.container-img{
	display: flex;
}

.filters{
	margin: 10px 0;
	display: flex;
	justify-content: space-between;
}
label{
	margin-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	width: 400px;
	background-color: #eee;
	color: #333;
}

input[type="text"]{
	margin-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	width: 400px;
	background-color: #eee;
	color: #333;
	border-bottom: 2px solid #333;
}

input[type="submit"] {
	margin-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #333;
	color: #fff;
	width: 100px;
	height: 30px;
	border: 2px solid #333;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.2s all;
}
input[type="submit"]:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #333;
	color: #fff;
	width: 100px;
	height: 30px;
	border: 2px solid #333;
	border-radius: 5px;
	cursor: pointer;
	opacity: 0.8;
}


.Form{
	margin-bottom: 5px;
}

input[type="button"] {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #333;
	color: #fff;
	width: 100px;
	height: 30px;
	border: 2px solid #333;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.2s all;
}
input[type="button"]:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #333;
	color: #fff;
	width: 100px;
	height: 30px;
	border: 2px solid #333;
	border-radius: 5px;
	cursor: pointer;
	opacity: 0.8;
}

.content-select input{
	margin-right: 5px;
}

h3{
	margin-left: 10px;
}
img{
	margin: 10px;
	width: 100%;
}